@page "/loginidp"
@model ComplianceMan.Components.LoginIDPModel



@*<button class="btn btn-primary" @onclick="HandleAuthenticate">Login with Azure AD</button>*@



@*<a asp-controller="Home" asp-action="Authenticate" asp-route-provider="AzureAD" class="login100-form-btn">Authenticate with Azure AD</a>*@